<!DOCTYPE HTML>
<html>
<head>
    <title>Home Network Audit</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <div class="inner">
        <h1><strong>Home Network Audit</strong></h1>
    </div>
</header>

<!-- Main -->
<div id="main">

    <!-- Project Overview -->
    <section id="overview">
        <h2>Project Overview</h2>
        <p>This project involved auditing my home network to identify connected devices and assess potential security
          vulnerabilities. Using tools like <strong>nmap</strong> and <strong>OpenVAS</strong>, I conducted comprehensive
          scans to map devices and detect vulnerabilities. I then addressed the identified issues and documented the
          entire process for future reference.</p>
    </section>

    <!-- What I Learned -->
    <section id="learning">
        <h2>What I Learned</h2>
        <p>Through this project, I deepened my understanding of network security and vulnerability management. I honed
          my skills in using <strong>nmap</strong> for device discovery, <strong>OpenVAS</strong> for vulnerability
          scanning, and gained insights into securing home networks against potential threats.</p>
    </section>

    <!-- Documentation and Files -->
    <section id="resources">
        <h2>Documentation and Files</h2>
        <p>For a detailed write-up of the project, refer to the <a href="https://docs.google.com/document/d/1LXK0-1Q1z7svqTp4lvdz_GjbW3wekdAU/edit#heading=h.gjdgxs" target="_blank">project documentation</a>. All related files and reports can be accessed in this <a href="https://drive.google.com/drive/u/0/folders/1DwccPmco3C5Uv5_5FJeTCL0BKcYEv7aD" target="_blank">Google Drive folder</a>.</p>
    </section>

    <!-- Back to Homepage -->
    <section id="back-home">
        <a href="/" class="button">Back to Homepage</a>
    </section>

</div>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/russojason1/" class="icon brands fa-linkedin"><span
                    class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/jrusso2" class="icon brands fa-github"><span
                    class="label">GitHub</span></a></li>
            <li><a href="mailto:jason.russo.sc@gmail.com" class="icon solid fa-envelope"><span
                    class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Jason Russo</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>
