<!DOCTYPE HTML>
<html>
<head>
    <title>My Portfolio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfQg6wqAAAAAK6jfpAYQE26FM1HYpwaVnNoPaof"></script>
    <style>
        .work-item .image img {
            width: 100%;
            max-width: 300px;
            height: 200px;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <div class="inner">
        <!--        <a href="#" class="image avatar"><img src="../static/images/avatar.jpg" alt=""/></a>-->
        <h1 style="font-size: 3em;"><strong>Jason Russo</strong></h1>
    </div>
</header>

<!-- Main -->
<div id="main">

    <!-- About Me -->
    <section id="about">
        <h2>About Me</h2>
        <p>Hello! I'm Jason Russo, a senior at Clemson University, graduating in May 2025 with a degree in Computer
            Science and Cybersecurity.
            While I've always enjoyed the challenge of computer science, I recently discovered a greater passion for
            cybersecurity.
            Over the past year, I've done all I can to immerse myself in the field, dedicating time to learning,
            exploring, and growing my expertise.
            With a commitment to continuous learning, I take on hands-on projects to sharpen my skills and stay ahead in
            an ever-evolving industry.</p>

        <p>My journey into cybersecurity is backed by hands-on projects, coursework, and independent learning. I've
            gained experience with
            tools through labs with TryHackMe, and I'm currently working on completing courses and projects through Zero
            to Mastery.
            Beyond technical skills, my background in high-end hospitality has honed my ability to deliver exceptional
            service and
            thrive in customer-facing roles—qualities that translate seamlessly into working with clients and
            teams. </p>
    </section>


    <!-- Certifications -->
    <section id="certifications">
        <h2>Certifications</h2>
        <ul>
            <li>CompTIA Security+</li>
            <li>TryHackMe Complete Beginner, Security Engineer, Web Fundamentals</li>
        </ul>
    </section>

    <!-- Projects -->
    <section id="Projects">
        <h2>Projects</h2>
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <a href="/password-checker" class="image fit thumb"><img src="../static/images/thumbs/pwd-check.png"
                                                                         alt="Project 1"/></a>
                <h3>Password Checker</h3>
                <p>A tool to check if your password is involved in a data breach.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="/tryhackme" class="image fit thumb"><img src="../static/images/thumbs/thm.png"
                                                                  alt="Project 2"/></a>
                <h3>TryHackMe</h3>
                <p>Explored hands-on cybersecurity challenges to sharpen my skills in penetration testing and defense
                    strategies.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="/home-network-audit" class="image fit thumb"><img
                        src="../static/images/thumbs/openvas-login.png"
                        alt="Project 3"/></a>
                <h3>Home Network Security Audit</h3>
                <p>Completed an audit of my home network to evaluate and remediate vulnerabilities.</p>
            </article>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact">
        <h2>Get In Touch</h2>
        <div id="contact-info" class="row" style="display: none;">
            <div class="col-8 col-12-small">
                <ul class="labeled-icons">
                    <li>
                        <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                        Clemson, SC, USA<br/>
                    </li>
                    <li>
                        <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                        (843)-940-0865
                    </li>
                    <li>
                        <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                        <a href="mailto:jason.russo.sc@gmail.com">jason.russo.sc@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script>
        grecaptcha.ready(async function () {
            const token = await grecaptcha.execute('6LfQg6wqAAAAAK6jfpAYQE26FM1HYpwaVnNoPaof', { action: 'contact_info' });

            // Verify the reCAPTCHA token with the server
            const response = await fetch('/verify_recaptcha', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ token: token })
            });

            const result = await response.json();
            if (result.success && result.score > 0.5) {
                document.getElementById('contact-info').style.display = 'block';
            } else {
                console.error('Failed reCAPTCHA verification');
            }
        });
    </script>

</div>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/russojason1/" class="icon brands fa-linkedin"><span
                    class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/jrusso2" class="icon brands fa-github"><span
                    class="label">GitHub</span></a></li>
            <li><a href="mailto:jason.russo.sc@gmail.com" class="icon solid fa-envelope"><span
                    class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Jason Russo</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>
