<!DOCTYPE HTML>
<html>
<head>
    <title>TryHackMe Journey</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <div class="inner">
        <h1><strong>TryHackMe Journey</strong></h1>
    </div>
</header>

<!-- Main -->
<div id="main">

    <!-- Summary -->
    <section id="summary">
        <h2>Overview</h2>
        <p>Through TryHackMe, I completed courses such as <strong>Complete Beginner</strong>, <strong>Security Engineer</strong>
            , and <strong>Web Fundamentals</strong>. Along the way, I mastered tools like <strong>Burp Suite</strong>,
            <strong>nmap</strong>, <strong>John the Ripper</strong>, <strong>Metasploit</strong>, and various
            <strong>SAST/DAST tools</strong>. I also explored key concepts in <strong>Linux</strong>, <strong>Windows</strong>,
            <strong>Active Directory</strong>, <strong>penetration testing</strong>, <strong>incident response</strong>,
            <strong>networking</strong>, <strong>encryption</strong>, and <strong>hashing</strong>.</p>
    <p>Check out my write-up on a TryHackMe pentesting challenge: <a href="https://medium.com/@jason.russo.sc/thm-traverse-ctf-4c2b6032d20d" target="_blank">THM Traverse CTF</a>.</p>

    </section>

    <!-- Back to Homepage -->
    <section id="back-home">
        <a href="/" class="button">Back to Homepage</a>
    </section>

</div>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/russojason1/" class="icon brands fa-linkedin"><span
                    class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/jrusso2" class="icon brands fa-github"><span
                    class="label">GitHub</span></a></li>
            <li><a href="mailto:jason.russo.sc@gmail.com" class="icon solid fa-envelope"><span
                    class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Jason Russo</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>
